.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.players > h2 {
  padding: 1rem;
  margin: 0 0.5rem;
}
.players > ul {
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.player {
  position: relative;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 0.5rem;
  background: #fff;
}

.chooseBtn {
  background: #ffd25c;
  border: none;
  color: #37373c;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
}

.podiumContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex: 1 1 auto;
}
.firstPlace {
  background: #66c6b9;
  width: 100px;
  height: 200px;
}
.secondPlace {
  background: #ffd25c;
  width: 100px;
  height: 150px;
}
.thirdPlace {
  background: #f37159;
  width: 100px;
  height: 100px;
}

.countdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdownCircle {
  background: red;
  color: white;
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40rem;
}
